/* text editor styles */

.text-editor-wrap{
	display: block;
	margin:auto;
	max-width:530px;
	border-radius:10px;
	box-shadow:rgba(0,0,0,0.8) 0px 20px 70px;
	clear:both;
	overflow: hidden;
	-webkit-transition:all 0.5s ease-out;
		-moz-transition:all 0.5s ease-out;
			-ms-transition:all 0.5s ease-out;
				-o-transition:all 0.5s ease-out;
					transition:all 0.5s ease-out;
}
	.title-bar{
		padding:5px 0;
		font-family: "Lucida Grande", sans-serif;
		font-size: 0.75em;
		text-align: center;
		text-shadow:rgba(255,255,255,0.8) 0px 1px 0px;
		background-color:#f8f8f8;
		background-image:-webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
			background-image:-moz-linear-gradient(top, #e8e8e8, #bcbbbc);
				background-image:linear-gradient(top, #e8e8e8, #bcbbbc);
		box-shadow:inset rgba(255,255,255,0.7) 0px 1px 1px;
		border-bottom:#6a6a6a 1px solid;
	}
	.text-body{
		height:250px;
		background-color:rgba(0,0,0,0.85);
		// background-image:-webkit-linear-gradient(top, #f0f0f0, #eee);
		padding:10px;
		color:#f0f0f0;
		text-shadow:#000 0px 1px 0px;
		font-family: "Consolas", "Courier New", "Courier";
		font-size: 1.75em;
		line-height: 1.40em;
		font-weight: 500;
		overflow: hidden;
		-webkit-transition:all 0.5s ease-out;
	}
	